<p id="notice"><%= notice %></p>
<h1>Users</h1>
<%= link_to 'New User', new_user_path, class: 'btn btn-info my-3', data: { bs_toggle: 'modal', bs_target: '#newUserModal', remote: true } %>
<table class="table table-striped">
  <thead class="bg-info">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Contact</th>
      <th><%= link_to 'New User', new_user_path, style: 'text-decoration:none;',data: { bs_toggle: 'modal', bs_target: '#newUserModal', remote: true }  %></th>
    </tr>
  </thead>

  <tbody id="usersTable">
    <% @users.each do |user| %>
      <%= render 'userRow', u: user %>
    <% end %>
  </tbody>
</table>

<!-- New User Modal -->
<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newUserModalLabel">New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="userForm">
      </div>
    </div>
  </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editUserModalLabel">New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editUserForm">
      </div>
    </div>
  </div>
</div>

<!-- Show User Modal -->
<div class="modal fade" id="showUserModal" tabindex="-1" aria-labelledby="showUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="showUserModalLabel">User Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showUser">
      </div>
    </div>
  </div>
</div>
<br>
<hr>



